
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Clientes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAlert()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of clientes; let index = i">
      <ion-item>
        <ion-label>{{ item.nombre }}</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteCliente(item.id, index)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="getClienteId(item.id)" color="warning">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>